[Unit]
Description=Dispatch Password Requests to the OpenVPN U2F helper
Documentation=https://github.com/ossobv/openvpn-u2f-setup
DefaultDependencies=no
Conflicts=shutdown.target emergency.service
After=plymouth-start.service systemd-vconsole-setup.service
Before=shutdown.target
ConditionPathExists=!/run/plymouth/pid

[Service]
# NOTE: These two must be configured so the right user can be notified.
# On Ubuntu systems with a single main user, the following configuration
# is generally correct.
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/run/user/1000/gdm/Xauthority
# Assuming you cloned openvpn-u2f-setup into /etc/openvpn/.
ExecStart=/etc/openvpn/openvpn-u2f-setup/openvpn-u2f-ask-password
SystemCallArchitectures=native
