# Install in /etc/systemd/user. Enable with:
# systemctl --user enable openvpn-u2f-ask-password.service

[Unit]
Description=Dispatch Password Requests to the OpenVPN U2F helper
Documentation=https://github.com/ossobv/openvpn-u2f-setup
DefaultDependencies=no
Conflicts=shutdown.target emergency.service
After=plymouth-start.service systemd-vconsole-setup.service
Before=shutdown.target
ConditionPathExists=!/run/plymouth/pid

[Service]
# Fix logging in journald.
Environment=PYTHONUNBUFFERED=1
# Assuming you cloned openvpn-u2f-setup into /etc/openvpn/.
ExecStart=/etc/openvpn/openvpn-u2f-setup/openvpn-u2f-ask-password
# Re-read the ask-password files.
ExecReload=kill -HUP $MAINPID

# NOTE: If you want to run this as a system (as opposed to user) service,
# you'll need to specify these two so the right user can be notified.
# On Ubuntu systems with a single main user, the following configuration
# is generally correct.
#Environment=DISPLAY=:0.0
#Environment=XAUTHORITY=/run/user/1000/gdm/Xauthority

[Install]
WantedBy=graphical-session-pre.target
#WantedBy=multi-user.target
