[Unit]
Description=Dispatch Password Requests to the OpenVPN U2F helper
Documentation=https://github.com/ossobv/openvpn-u2f-setup
DefaultDependencies=no
Conflicts=shutdown.target emergency.service
After=plymouth-start.service systemd-vconsole-setup.service
Before=shutdown.target
ConditionPathExists=!/run/plymouth/pid

[Service]
ExecStart=openvpn-u2f-ask-password
SystemCallArchitectures=native
