/* /etc/polkit-1/rules.d/openvpn-u2f-ask-password.rules
 * This is used by polkitd-124/systemd-255 on Ubuntu/Noble. */

/*
 * Allow password replies to systemd ask-passwd without password
 * authentication, similar to NOPASSWD sudo.
 */
polkit.addRule(function(action, subject) {
    // NOTE: To get polkit.log() to work, you need polkitd started _without_
    // the `--no-debug` flag.
    //polkit.log("action=" + action);
    //polkit.log("subject=" + subject);

    // EXAMPLE: These would allow passwordless: pkexec -u root bash -i
    //if (action.id == "org.freedesktop.policykit.exec" &&
    //        subject.isInGroup("sudo")) {
    //    return polkit.Result.YES;
    //}

    // This should not be needed, unless you call
    // /lib/systemd/systemd-reply-password while the realpath is
    // /usr/lib/systemd/systemd-reply-password. Hence it's disabled with
    // false.
    // See: https://bugs.launchpad.net/ubuntu/+source/policykit-1/+bug/2084150
    // Note: action.lookup("unknown-key") === undefined
    if (false &&
            action.id == "org.freedesktop.policykit.exec" &&
            ((action.lookup("program") == "/lib/systemd/systemd-reply-password" &&
              action.lookup("command_line").indexOf("/lib/systemd/systemd-reply-password 1 /run/systemd/ask-password/sck.") === 0) ||
             (action.lookup("program") == "/usr/lib/systemd/systemd-reply-password" &&
              action.lookup("command_line").indexOf("/usr/lib/systemd/systemd-reply-password 1 /run/systemd/ask-password/sck.") === 0)) &&
            subject.local && subject.active &&
            (subject.isInGroup("sudo") || subject.isInGroup("netdev"))) {
        polkit.log("org.freedesktop.policykit.exec: ALLOW");
        return polkit.Result.YES;
    }

    // The relevant code that should work if the rest is correct.
    if (action.id == "org.freedesktop.systemd1.reply-password" &&
            subject.local && subject.active &&
            (subject.isInGroup("sudo") || subject.isInGroup("netdev"))) {
        polkit.log("org.freedesktop.systemd1.reply-password: ALLOW");
        return polkit.Result.YES;
    }

    return polkit.Result.NOT_HANDLED;
});

/* vim: set syn=javascript: */
